<!DOCTYPE html>
{% load static %}
<html>
 <head>
   <title> Login frndsapp </title>
   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
 </head>
<body>
  <div id="main">
    <form method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <td><label for="username" >Username</label></td>
          <td><input type="text" name="username" id="username"> </td>
        </tr>
        <tr>
          <td><label for="password" >Password</label></td>
          <td><input type="password" name="password" id="password"> </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Login"></td>
        </tr>
      </table>
    </form>
  <p>{{error}}
  </div>
  <div>
      <h1>If you are a new user </h1><br>
      <a href='resis'>Resister Yourself</a>
  </div>
</body>
</html>